# -*- coding: utf-8 -*-
# This file is part of django-phpbb, integration between Django and phpBB
# Copyright (C) 2007-2008  Maciej Bliziński
# 
# django-phpbb is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
# 
# django-phpbb is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with django-phpbb; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor,
# Boston, MA  02110-1301  USA

from django.conf.urls.defaults import *
from django.utils.translation import gettext_lazy as _
import phpbb.views
import phpbb.models
import phpbb.querysets

forum_context = phpbb.views.phpbb_config_context(None)

urlpatterns = patterns('',
    (r'^$', 'django.views.generic.list_detail.object_list',
        {'queryset': querysets.forumqs, 'extra_context': forum_context}),
    (r'^%s/(?P<topic_id>[0-9]+)/(?P<slug>[\w-]*)/$' % (
        _("topics"),), 'phpbb.views.topic_archive', ),
    (r'^(?P<forum_id>[0-9]+)/(?P<slug>[\w-]*)/$',
        'phpbb.views.forum_index', ),
    (r'^(?P<forum_id>[0-9]+)/(?P<slug>[\w-]*)/page(?P<page_no>[0-9]+)/$',
        'phpbb.views.forum_index', ),
    (r'^(?P<forum_id>[0-9]+)/$',
        'phpbb.views.forum_index', {'slug': ''}),
    (r'^%s/$' % (_("unanswered"),), 'phpbb.views.unanswered', ),
    (r'^viewtopic.php$', 'phpbb.views.handle_viewtopic', ),
)
